
    h1{
        color:red;
    }
 
.header{
    background-color: violet;
    display:flex;
    justify-content: space-between;
}
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.footer{
    justify-content: flex-end;
    display: flex;
}
p,h2{
    text-align: center;
}